body{
    background-color: black;
    
}

#container{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}

.circle{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    
}

#circle1{
    background: linear-gradient(orangered,orange);
    left: -20%;
    top: -80px;
    color:orange
}

#circle2{
    background: linear-gradient(to right,royalblue,cornflowerblue,lightblue);
    right: -20%;
    bottom: -60px;
}

#formbox{
    
    width: 350px;
    height: 490px;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
    position: absolute;
    border: 1px solid white;
    text-align: center;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    border: none;
}

.both{
    width: 210px;
    font-family: 'Poppins', sans-serif;  font-weight: 100;
    color: whitesmoke;
    padding: 4px;
    height: 25px;
    border-radius: 3px;
}

h3{
    font-size: 38px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;    
    color: ghostwhite;
    text-align: center;
    position: relative;
}

label{
    display: block;
    font-weight: 500;
    font-size: 27px;
    margin-top: 40px;
    color: whitesmoke;
    position: relative;
    left: 24px;
    bottom: 10px;
   
    
}

button{
    padding: 4px;
    width: 160px;
    border-radius: 3px;
    border:none;
    border-color: lightgray;
    box-shadow: 0 2px 3px 1px lightgray;
    position: relative;
    top: 17px;
    text-align: center;
    right: 3px;
    
}


#buttonfont{
    font-family: 'Poppins', sans-serif;
    font-weight: 500px;
}

#userbox{
    border-color: lightgray;
    box-shadow: 0 2px 3px 1px lightgray;
    border: none;
}
    
#passwordbox{
    border-color: lightgray;
    box-shadow: 0 2px 3px 1px lightgray;
    border: none;
}

#strong{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.icons{
    width: 350px;
    margin: 0, auto;
    position: relative;
    top: 40px;
}

#linkedin{
    position: absolute;
    left: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
    background-color: ghostwhite;
}

#google{
    position: absolute;
    left: 145px;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
    background-color: ghostwhite;
}

#twitter{
    position: absolute;
    right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px lightgray;
    background-color: ghostwhite;
}
